@import '@/theme/variables.scss';

.button {
    background-color: $babbel_primary;
    color: $babbel_white;
    font-size: 16px;
    font-weight: 600;
    min-width: 200px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $babbel_primary_75;
    }
    &:disabled{
        background-color: $babbel_primary_light;
    }
}