$babbel_primary: rgb(254, 77, 1);;
$babbel_primary_light: rgb(254, 77, 1, 0.5);
$babbel_primary_75: rgb(254, 77, 1, 0.75);
$babbel_secondary: rgb(224, 195, 253);
$babbel_secondary_light: rgb(224, 195, 253, 0.35);
$babbel_background: rgb(246, 244, 239);

$babbel_white: #fff;
$babbel_white_light: #f5f5f5;
$babbel_black: #000;

@keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @mixin fadeInScaleAnimation($duration: 0.3s, $timing-function: ease-out) {
    animation: fadeInScale $duration $timing-function;
  }
